:host {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.65rem 1.25rem;
    background: var(--header-bg);
    border-top: 1px solid var(--header-border);
    box-shadow: var(--header-shadow);

    p {
      font-weight: 600;
      font-size: 0.75rem;
    }
  }
}
