<div class="detail-row" [class.is-editing]="isEditing()">
  <span class="detail-label">
    <svg [lucideIcon]="svgIcon().name" [size]="svgIcon().size ?? 14" />
    {{ label() }}
  </span>

  <div class="detail-value">
    @if (isEditing()) {
      <ng-content select="[editControl]" />
    } @else {
      @if (avatar()) {
        <app-avatar [data]="avatar()!" />
      } @else if (tags().length > 0) {
        @for (chip of tags(); track $index) {
          <app-tag-chip
            [data]="chip.data"
            [variant]="chip.variant"
            [displayStatus]="chip.displayStatus"
          />
        }
      } @else {
        <span>{{ value() }}</span>
      }
    }
    <ng-content select="[sideControl]" />
  </div>
</div>
