@use '../../../../styles/functions' as *;

:host {
  .details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    align-items: start;
    margin-bottom: 40px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    border: 1px solid var(--card-border);

    .create-date {
      font-size: rem(14px);
    }
  }
}
