<div class="board-container">
  <div class="board" cdkDropListGroup>
    @for (column of columns; track column.id) {
    <div class="column">
      <div class="column-header">
        <h3>{{ column.title }}</h3>
        <span class="task-count">{{ column.tasks.length }}</span>
      </div>

      <div class="task-list" cdkDropList [id]="column.id" [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event)">
        @for (task of column.tasks; track task.id) {
        <div class="task-card" cdkDrag (click)="onTaskClick(task)">
          <app-priority-badge [priority]="task.priority" />

          <div class="content">
            <h4 class="title">{{ task.title }}</h4>
            <p class="desc" [title]="task.description">{{ task.description }}</p>
          </div>

          <div class="footer">
            <div class="task-meta">
              @if (task.dueDate) {
              <div class="chip" [title]="'Due: ' + task.dueDate">
                <svg lucideIcon="calendar-check-2" [size]="16" />
                {{ task.dueDate | date: 'MMM d' }}
              </div>
              }
              <div class="chip">
                <svg lucideIcon="message-square" [size]="16" />
                {{ task.comments ? task.comments.length : 0 }}
              </div>
            </div>
            <div class="avatar-container" [title]="task.assignee">
              <app-avatar [data]="task.assignee" />
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>