@if (!loggedUser()) {
  <app-login-page />
}
@if (loggedUser()) {
  <div class="home-page-content">
    <app-sidebar
      [currentUser]="$any(loggedUser())"
      [tasks]="tasks()"
      (logOutClicked)="handleLogout()"
    />
    <div class="main-content">
      <app-filter
        [currentUser]="loggedUser()"
        [assigneeOptions]="assigneesForFilter()"
        (filterChanged)="handelFilterTasks($event)"
      />
      <app-task-list
        [tasks]="filteredTasks()"
        (taskClicked)="handelTaskClicked($event)"
        (taskEditClicked)="handelTaskEditClicked($event)"
        (taskStatusChanged)="handelTaskStatusChanged($event)"
      />
    </div>
  </div>
}

@if (isTaskModelOpen()) {
  <app-task-details
    [(isTaskModelOpen)]="isTaskModelOpen"
    [(isEditing)]="isEditingTask"
    [task]="taskForModal()"
    [assigneeOptions]="assigneesForAdd()"
    [composerAvatarLabel]="loggedUser()?.name ?? ''"
    (commentSubmit)="onCommentSubmitted($event)"
    (saveTask)="onTaskSubmitted($event)"
    (quickAssignToMe)="onQuickAssignToMe($event)"
  />
}
